body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #aaa;
  font: 16px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  list-style: none;
}

.ctrl {
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-weight: 700;
  margin-bottom: 10px;
}

.success {
  color: green;
}

.warning {
  color: red;
}

.square {
  background: #c6c6c6; 
  color: #6c6c6c;
  float: left;
  font-size: 64px;
  line-height: 30px;
  height: 130px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 130px;
}

.square:focus {
  background-color: #a2bbdd;
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  margin-top: -2%;
}

.game-board {
  
}

.game-info {
  margin-left: 20px;
}

.current-move {
  font-weight: 700;
  background-color: #216631;
}

.highlight {
  background-color: #a2bbdd;
  color: green;
  border: 0px solid #c6c6c6;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 30px;
  height: 130px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 130px;
}

@media(max-width: 600px) {
  .square {
    font-size: 34px;
    line-height: 17px;
    height: 67px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 67px;
  }

  .highlight {
    font-size: 32px;
    font-weight: bold;
    line-height: 17px;
    height: 67px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 67px;
  }
}