body {
  text-align: center;
  background-color: #282c34;
  font: 18px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.ctrl {
  border-radius: 5px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  color: green;
  font-weight: 700;
  margin-bottom: 10px;
}

.square {
  background: #001166;
  border: 1px solid #999;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.square:focus {
  background-color: #0011cc;
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  
}

.game-info {
  margin-left: 20px;
}

.current-move {
  font-weight: 700;
  background-color: yellow;
}

.highlight {
  background-color: #338822;
  border: 1px solid #999;
  float: left;
  font-size: 64px;
  font-weight: bold;
  line-height: 34px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}
